.grid-container {
    display: grid;
    grid-template-columns: auto, auto;
    grid-template-rows: auto, auto, auto;
  }
.logInRuta{
    float: right;
    margin-right: 100px;
    font-family: 'Ubuntu', sans-serif;
}
#headerName{
    float: left;
    font-family: 'VT323', monospace;
    margin-left: 20px;
    font-size: 50px;

}
.login{
    width: 100%;
    height: 100px;
    grid-column: 1/3;
    grid-row: 1;
}
#TabsList{
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif;
}
#TabsList > li {
    display: inline;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}
#TabsList > li:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}
.presentation {
    height: 300px;
    font-family: 'Ubuntu', sans-serif;
    grid-column: 1/3;
    grid-row: 2;
}
.presentation > h1{
    margin-left: 20px;
}
.presentation > p {
    width: 50%;
    float: left;
    margin-left: 20px;
}
.tabContainer {
    grid-column: 1;
    grid-row: 3;
}
#historyPic{
    height: 200px;
    float: left;
    margin-left: 20px;
}

#finrobotPic1{
    height: 300px;
    float: left;
}
#finrobotPic2{
    height: 200px;
    float: left;
}
#minirobotPic1{
    height: 200px;
    float: left;
}
#minirobotPic2{
    height: 200px;
    float: left;
}
.items{
    grid-column: 2;
    grid-row: 3;
}
